<%- include('../partials/_blogcss_head') %>

<%- include('../partials/_field_navbar.ejs') %>

<div class="container">
    <h1 class = "mb-4 mt-4"><%= article.title %></h1>
    <div class = "text-muted mb-2"><%= article.createdAt.toLocaleDateString() %></div>
    <a href = "/blog" class= "btn btn-secondary">All articles</a>
    <a href = "/blog/edit/<%= article.id%>" class = "btn btn-info">Edit</a><hr>
    
    <div>
        <%-article.sanitizedHtml%>
    </div>
</div>   

<%- include('../partials/_field_footer') %>